

.min-width{
    width: fit-content;
}

.menu {
    /* From https://css.glass */
    margin: 10px;
    padding: 15px;
    width: fit-content;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.margin10{
    margin-right: 10px;
  }
  
  .plusIcon{
    height: 30px;
  }

.productos {
    margin : auto;
    padding: 15px;
    width: 90%;
    color: aliceblue;
}

.glass {
    /* From https://css.glass */
    margin: auto;
    padding: 15px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.margin10 {
    margin-left: 10px;
}

table th, table td {
    text-align: center;
    vertical-align: middle;
}

.margin101 {
    margin: 10px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-evenly;
}

.groupText {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.groupText input {
    margin-top: 15px;
}

#txtDescription {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");